
a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: arial;
    margin: 0 5px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
}

  
a:hover {
    background: darkblue;
}